.chat-main
  .chat-main__RightHeader
    .chat-main__RightHeader__Group
      .chat-main__RightHeader__Group__GroupName
        group
      .chat-main__RightHeader__Group__MemberList
        Member　:
        .chat-main__RightHeader__Group__MemberList__Member
          　fuma
        -# .chat-main__RightHeader__Group__MemberList
    .chat-main__RightHeader__EditButton
      Edit
  .chat-main__MessageField
  .chat-main__Footer
    .chat-main__Footer__Form
      .chat-main__Footer__Form__Contents
        %input.chat-main__Footer__Form__Contents__InputContent{:placeholder => "type a message"}
        .chat-main__Footer__Form__Contents__InputImage
          .chat-main__Footer__Form__Contents__InputImage__FormIcon
            %label{class: "Contents__InputImage"}
              = icon('fa','image')
              %input.none{type: "file"}
      .chat-main__Footer__Form__Submit
        = link_to "#",class:"chat-main__Footer__Form__Submit" do
          Send