.chat-main
  .chat-main__RightHeader
    .chat-main__RightHeader__Group
      .chat-main__RightHeader__Group__GroupName
        group
      .chat-main__RightHeader__Group__MemberList
        Member　:
        .chat-main__RightHeader__Group__MemberList__Member
          　fuma
        -# .chat-main__RightHeader__Group__MemberList
    .chat-main__RightHeader__EditButton
      Edit
  .chat-main__MessageField
  .chat-main__Footer
    .chat-main__Footer__Form
      .chat-main__Footer__Form__Contents
        .chat-main__Footer__Form__Contents__InputContent
        .chat-main__Footer__Form__Contents__InputImage
          .chat-main__Footer__Form__Contents__InputImage__FormIcon
      .chat-main__Footer__Form__Submit
        Send