.chat-main__MessageField__MessageBox{data: {message: {id: message.id}}}
  .chat-main__MessageField__MessageBox__MessageInfo
    .chat-main__MessageField__MessageBox__MessageInfo__UserName
      = message.user.name
    .chat-main__MessageField__MessageBox__MessageInfo__Date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .chat-main__MessageField__MessageBox__Message
    - if message.content.present?
      .chat-main__MessageField__MessageBox__Message__Content
        = message.content
    = image_tag message.image.url, class: 'chat-main__MessageField__MessageBox__Message__Image' if message.image.present?