.chat-SideBar
  .chat-SideBar__LeftHeader
    .chat-SideBar__LeftHeader__List
      .chat-SideBar__LeftHeader__List__UserName
        fuma
      .chat-SideBar__LeftHeader__List__IconList
        .chat-SideBar__LeftHeader__List__IconList__Pen
          = icon('fa','edit')
        .chat-SideBar__LeftHeader__List__IconList__Sharin
          = icon('fa','cog')
  .chat-SideBar__GroupList
    .chat-SideBar__GroupList__Group
      group
      .chat-SideBar__GroupList__Group__Name
        fuma
      .chat-SideBar__GroupList__Group__Message