.wrapper {
  display: flex;
}

* {
  box-sizing: border-box;
}

.chat-main {
  width: calc(100vw - 300px);
  height: 100vh;

  &__RightHeader{
    height: 100px;
    padding: 0 40px;
    border-bottom: solid 1px #eee;
    display: flex;
    justify-content: space-between;

    &__Group {
      // height: calc(100vh - 190px);

      &__GroupName {
        color: #333;
        font-size: 20px;
        margin-top: 35px;
      }
      &__MemberList {
        color: #999;
        display: flex;
        font-size: 12px;
        margin-top: 15px;

        &__Member {
          padding-right: 5px;
          font-size: 13px;
        }
      }
    }

    &__EditButton {
      display: block;
      border: 1px solid #38aef0;
      color: #38aef0;
      height: 40px;
      line-height: 40px;
      margin-top: 28px;
      padding: 0 20px;
      text-decoration: none;

    }
  }
  &__MessageField {
    background-color: #fafafa;
    box-sizing: border-box;
    padding: 35px 40px 0;
    height: calc(100vh - 100px - 90px);
    overflow: scroll;
  }

  &__Footer {
    background-color: #dddddd;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;

    &__Form {
      display: flex;
      justify-content: space-between;

      &__Contents {
        width: 100%;
        background-color: #fff;
        position: relative;

        &__InputContent {
          border: none;
          height: 50px;
          width: 100%;
          padding: 0 45px 0 15px;
        }
        &__InputImage {
          height: 50px;
          position: absolute;
          right: 10px;

          &__FormIcon {
            line-height: 50px;
            font-size: 25px;
          }
        }
      }

      &__Submit {
        background-color: #38AEF0;
        border: none;
        color: #fff;
        font-size: 16px;
        height: 50px;
        margin-left: 15px;
        padding: 0 30px;
        padding-top: 13px;
        font-family: inherit;
        font-weight: inherit;
      }
    }
  }

}